/* Estilos para telas maiores */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #25003a;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

.profile-img::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  background: linear-gradient(0deg, blue, orange);
  z-index: -1;
  animation: rotate-border 4s linear infinite;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  background-color: #25003a; /* Mesma cor do fundo do site */
}

.links-container {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-block-end: 25px;
}

.link-item {
  margin-bottom: 15px;
}

.link-item a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-item a:hover {
  background-color: #8a8989;
}

.link-item img {
  width: 30px;
  margin-right: 10px;
  pointer-events: none;
}

.nome {
  font-size: 50px;
  color: #fff; 
  margin-block-end: 5px;
}

.proficao {
  font-size: 20px;
  color: #fff;
  margin-block-end: 15px;
}


/* animaçãoes para texto*/
.bounce {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); /* Ajuste a distância do "pulo" aqui */
  }
}


.heartBeat {
  animation: heartbeat 1s ease infinite alternate;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.tada {
  animation: tada 1s ease infinite;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .profile-img {
    width: 150px;
    height: 150px;
  }

  .links-container {
    width: 90%;
    max-width: 280px;
    padding: 20px; 
   }
}
